.main-card {
    background-color: #f26849;
    padding: 2vh;
    width: 15vw;
    height: fit-content;
    color: #ffffff;
    border-radius: 1vh;
}

.icon-tray {
    display: flex;
    justify-content: flex-end;
}
