.card-main {
    width: 18vw;
    background-color: #d2d2d2;
    display: flex;
    flex-direction: column;

    padding: 2vh;
    width: available;
    border-radius: 1vh;
    justify-content: center;
    align-items: center;
    float: right;
    position: absolute;
    bottom: 0;
    right: 15px;
}

.input-tray {
    width: 98%;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-column-gap: 1vh;
}

input {
    border-radius: 0.5vh;
    border: none;
    padding-left: 6px;
    margin-bottom: 0.62vh;
    width: 98%;
}

.icon-tray {
    display: flex;
    margin-top: 2px;
    justify-content: flex-end;
}
